body {
    border: solid 1px;
}

.container-fluid {
    padding: 0px;
}

.linhaTopo {
    border: solid 1px black;
    background-color: gainsboro;
    text-align: center;
    padding: 2px;
}

.titulo {
    margin-top: 3rem;
    margin-left: 4rem;
    font-weight: bold;
}

.imagem {
    margin-top: 0px;
    margin-left: 20rem;
}

.mensagem {
    text-align: right;
    font-size: 25px;
    color: dimgrey;
    font-weight: bold;
    margin-right: 2rem;
}

.btn {
    border: solid 1px;
    font-size: 65px;
    font-weight: bold;
    padding: 1rem;
}

.botao {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}